html, body {
    position: relative;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

.leaflet-container {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}


#map {
    height: 100%;
    width: 100%;
    z-index: 1;
}

#searchbox {
    position: absolute;
    width: 240px;
    height: 100px;
    top: 20px;
    left: 20px;
    z-index: 2;
}

.confirm_btn {
    position: absolute;
    width: 180px;
    height: 80px;
    bottom: 20px;
    right: 20px;
    z-index: 3;
}

.serach_container {
    display: flex;
}


.searchbox_input {
    border: 0;
    padding: 9px 9px;
}

.search_btn {
    height: 32px;
    width: 57px;
    background-color: #3385ff;
}
