.searchbox {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 440px;
    height: 360px;
    z-index: 999;
    padding: 12px 12px;
    border: 2px solid rgba(255, 255, 255, .6);
    backdrop-filter: blur(16px);
    background-color: #9483b344;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.fold_up {
    flex-direction: row;
    align-items: center;
    height: 52px;
}

.btn_unfold {
    width: 36px;
    height: 36px;
    margin: 0 16px 0 10px;
    padding: 2px 8px;
    color: #e9f0f6;
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: 6px;
}

.btn_unfold .iconfont {
    font-size: 20px;
}

.tips_fold {
    font-size: 18px;
    color: #27152b;
}

.input_box {
    display: none;
    flex-direction: row;
}

.input_box .btn_poi_type {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 44px;
    width: 44px;
    margin: 4px 0 0 12px;
    color: #27152b;
    background-color: #ffffff55;
}

.keywords_input {
    height: 44px;
    width: 248px;
    margin: 4px 0 8px 0;
    background-color: #ffffff55;
    font-size: 16px;
    outline: none;
    border: none;
}

.keywords_comfirm {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 44px;
    width: 96px;
    margin: 4px 0;
    font-size: 16px;
    color: #e9f0f6;
    background-color: #27152b;
}

.keywords_wrapper {
    display: none;
    flex-wrap: wrap;
    overflow: hidden;
}

.refresh_keywords {
    display: inline;
    margin: 4px 3px;
    padding: 4px 8px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    color: #27152baa;
    background-color: #27152b55;
}

.keywords_wrapper .keywords {
    display: inline;
    margin: 4px 3px;
    padding: 4px 8px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    color: #27152baa;
    background-color: #27152b55;
}

.result_wrapper {
    display: none;
    flex-direction: column;
    color: #27152b;
    overflow-y: auto;
}

.result_wrapper .iconfont {
    margin: 0 12px 6px 12px;
    font-size: 20px;
}

.result_wrapper li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0 12px;
    padding: 3px 0;
}

.result_wrapper h2 {
    line-height: 18px;
    font-size: 16px;
    margin-block-start: 0.13em;
    margin-block-end: 0.13em;
}

.result_wrapper p {
    margin-block-start: 0.13em;
    margin-block-end: 0.13em;
    color: #867c98;
}

.poi_type_wrapper {
    display: none;
    flex-direction: row;
    height: 280px;
}

.type_selector {
    position: relative;
    display: flex;
    width: 136px;
    flex-direction: column;
    overflow-y: auto;
}

.type_selector::-webkit-scrollbar {
    display: none;
}
.type_selector {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.type_selector li {
    display: flex;
    height: 28px;
    align-items: center;
    flex-direction: row;
    color: #867c98;
}

.type_selector .selected {
    color: #27152b
}

.type_selector .iconfont {
    position: absolute;
    right: 10px;
}