* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.leaflet-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}


#map {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%;
    width: 100%;
    z-index: 1;
}
