html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

.leaflet-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}


#map {
    height: 100%;
    width: 100%;
    z-index: 1;
}

#searchbox {
    display: none;
    position: absolute;
    width: 240px;
    height: 100px;
    top: 20px;
    left: 20px;
    z-index: 2;
}


.search_container {
    display: flex;
    flex-direction: row;
}

.searchbox_input {
    border: 0;
    padding: 9px 9px;
}

.search_btn {
    height: 32px;
    width: 57px;
    background-color: #635282;
    color: #e9f0f6;
}


.scale_btn {
    display: none;
    position: absolute;
    width: 180px;
    height: 80px;
    bottom: 20px;
    right: 20px;
    z-index: 3;
}

#content_wrapper {
    margin: 4px 0;
    list-style: none;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 4px;
    backdrop-filter: blur(16px);
    animation: showup 0.2s ease;

}

#content_wrapper li {
    padding: 0px 2px;
}

@keyframes showup{
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

@keyframes shutdown{
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}