@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1730443772950') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\f034f";
}

.icon-shuaxin:before {
  content: "\eafd";
}

.icon-xiangqing:before {
  content: "\e611";
}

.icon-xialajiantou:before {
  content: "\e645";
}

