@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1730526968302') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuding:before {
  content: "\e64c";
}

.icon-youjiantou:before {
  content: "\f034f";
}

.icon-shuaxin:before {
  content: "\eafd";
}

.icon-xiangqingbeifen:before {
  content: "\e614";
}

.icon-leibie:before {
  content: "\e668";
}

.icon-xialajiantou:before {
  content: "\e645";
}

